@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,400i,600,700&display=swap');

// Bootstrap requires
@import "~bootstrap/scss/functions";
@import "@/assets/css/variables";
@import "~bootstrap/scss/bootstrap";

// Global Styles
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  padding-top: 110px;
  // scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

/*
** Layout
*/

// For each breakpoint, define the maximum width of the container in a media query
@mixin make-container-half-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints, $start: true) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: ($container-max-width / 2);
      @if $start {
        margin-left: calc(50vw - #{($container-max-width / 2)});
        padding-left: $grid-gutter-width;
      } @else {
        margin-right: calc(50vw - #{($container-max-width / 2)});
        margin-left: calc(50vw + #{$grid-gutter-width});
        padding-right: $grid-gutter-width;
      }
    }
  }
}

.container {
  padding-left: #{$spacer * 2};
  padding-right: #{$spacer * 2};
  &-start {
    max-width: 100%;
    padding-left: #{$grid-gutter-width};
    padding-right: #{$grid-gutter-width};
    @include make-container-half-widths();
  }
  &-end {
    max-width: 100%;
    padding-left: #{$grid-gutter-width};
    padding-right: #{$grid-gutter-width};
    @include make-container-half-widths($start: false);
  }
}

section {
  display: flex;
  overflow: hidden;
  position: relative;
}

aside {
  // margin-right: $grid-gutter-width;
  @include media-breakpoint-down('sm') {
    margin-right: 0;
  }
}

.row {
  flex: 1 0 100%;
}

.vertical-col-spacer {
  display: flex;
  flex: 1 1 0;
  height: 2em;
  @include media-breakpoint-down('sm') {
    flex: 1 1 100%;
  }
}

/*
** Typography
*/

h1 {
  @include media-breakpoint-down('sm') {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}
h2 {
  @include media-breakpoint-down('sm') {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  padding-left: #{$spacer * 1.25};
  margin-bottom: 2.625rem;
}
li {
  &:not(.nav-item) {
    margin-bottom: .75em;
    position: relative;
  }
}

blockquote {
  padding-left: #{$spacer * 4.75}; // 76px
  position: relative;
  @include media-breakpoint-down('sm') {
    padding-left: #{$spacer * 4}; // 64px
  }
  &::before {
    background-image: url(~assets/icons/icon-quote.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 51px;
    left: 0;
    position: absolute;
    top: -#{$spacer * 1.4375}; // -23px
    width: #{$spacer * 3.75}; // 60px
    @include media-breakpoint-down('sm') {
      width: #{$spacer * 3.125}; // 50px
      top: -#{$spacer * 1.1875}; // -19px
    }
  }
  &.green,
  &.primary {
    &::before {
      background-image: url(~assets/icons/icon-quote-green.png);
    }
  }
  footer {
    // font-size: 14px;
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    margin-top: 10px;
    &::before {
      content: "\2014";
      margin-right: .5em;
    }
  }
}

.link {
  &-text {
    color: $primary;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &-decorated {
    display: inline-block;
    font-weight: $font-weight-semibold;
    // margin-bottom: 2em;
    text-decoration: none;
    &::after {
      content: "";
      background-image: url(~assets/icons/icon-arrow-forward-green.png);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: .75em;
      margin-left: .125em;
      transition: margin-left .15s ease-in-out;
      width: .75em;
    }
    &:hover {
      &::after {
        margin-left: .5em;
      }
    }
  }
}

p a {
  color: $primary;
  text-decoration: underline;
}

/*
** Scrollbar
*/
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-600;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark;
}

/*
** Buttons
*/
.btn {
  white-space: nowrap;
}

/*
** Boxes
*/
.boxes {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box {
  background-color: $lily-white;
  font-size: $font-size-sm;
  margin-bottom: 2.625rem;
  max-width: calc(50% - #{$grid-gutter-width / 2});
  padding: 31px 38px 41px;
  width: 100%;
  p, a {
    margin-bottom: 1em;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  &__links {
    float: right;
    margin-left: #{$grid-gutter-width / 2};
    width: calc(50% - #{$grid-gutter-width / 2});
    ul {
      margin-bottom: 0;
    }
  }
}

/*
** Code
*/
code {
  display: block;
  font-size: $font-size-sm;
  max-width: 600px;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
** Forms
*/
.custom-select {
  background-image: url(~assets/icons/icon-dropdown.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 50%;
  background-size: auto;
}

.custom-control-label {
  &::after,
  &::before {
    top: .275em;
  }
}

/*
** Tables
*/
.table {
  th,
  td {
    line-height: 1;
  }
}
